networks:
  backend:
    driver: bridge

services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: ly_ai_code_mother
      MYSQL_USER: myuser
      MYSQL_PASSWORD: 123456
    ports:
      - "3306:3306"
    networks:
      - backend